In [2]:
import pandas as pd
import numpy as np
import datetime
import re

In [3]:
df= pd.read_csv('AccidentesBicicletas_2021.csv', sep=';')
df

,Nº EXPEDIENTE,FECHA,HORA,CALLE,NÚMERO,DISTRITO,TIPO ACCIDENTE,ESTADO METEREOLÓGICO,TIPO VEHÍCULO,TIPO PERSONA,RANGO DE EDAD,SEXO,LESIVIDAD*
0,2021S000047,01/01/2021,11:38,CALL. JOSE BERGAMIN / CALL. FLORENCIO CANO CRI...,-,MORATALAZ,Caída,Despejado,Bicicleta,Conductor,DE 45 A 49 AÑOS,Hombre,2.0
1,2021S000142,04/01/2021,11:30,WANDA METROPOLITANO PARQUE FAROLA 20,-,SAN BLAS-CANILLEJAS,Caída,Despejado,Bicicleta,Conductor,DE 21 A 24 AÑOS,Hombre,14.0
2,2021S000142,04/01/2021,11:30,WANDA METROPOLITANO PARQUE FAROLA 20,-,SAN BLAS-CANILLEJAS,Caída,Despejado,Bicicleta,Conductor,DE 15 A 17 AÑOS,Hombre,14.0
3,2021S000142,04/01/2021,11:30,WANDA METROPOLITANO PARQUE FAROLA 20,-,SAN BLAS-CANILLEJAS,Caída,Despejado,Bicicleta,Conductor,DE 18 A 20 AÑOS,Hombre,14.0
4,2021S000142,04/01/2021,11:30,WANDA METROPOLITANO PARQUE FAROLA 20,-,SAN BLAS-CANILLEJAS,Caída,Despejado,Bicicleta,Conductor,DE 50 A 54 AÑOS,Hombre,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2021S009511,30/05/2021,15:10,CALL. PEDRO RICO / CALL. ARTURO DUPERIER,-,FUENCARRAL-EL PARDO,Caída,Despejado,Bicicleta,Conductor,DE 60 A 64 AÑOS,Hombre,2.0
345,2021S009423,30/05/2021,11:45,CALL. EMBAJADORES / ACCESO CAJA MAGICA,-,ARGANZUELA,Colisión fronto-lateral,Despejado,Bicicleta,Conductor,DE 45 A 49 AÑOS,Mujer,2.0
346,2021S009537,31/05/2021,22:15,PASEO. RECOLETOS / CALL. ARMADA ESPAÑOLA,-,SALAMANCA,Caída,Lluvia débil,Bicicleta,Conductor,DE 40 A 44 AÑOS,Hombre,5.0
347,2021S009532,31/05/2021,20:35,CALL. VIA CARPETANA,57,CARABANCHEL,Caída,NaN,Bicicleta,Conductor,DESCONOCIDA,NaN,NaN
348,2021S009570,31/05/2021,14:20,PLAZA. EMPERADOR CARLOS V,1,CENTRO,Alcance,Despejado,Bicicleta EPAC (pedaleo asistido),Conductor,DE 30 A 34 AÑOS,Hombre,NaN

## Identificar NaN

In [13]:
df.isnull().values.any()
df.isnull().sum()

Nº  EXPEDIENTE           0
FECHA                    0
HORA                     0
CALLE                    0
NÚMERO                   0
DISTRITO                 0
TIPO ACCIDENTE           0
ESTADO METEREOLÓGICO    15
TIPO VEHÍCULO            0
TIPO PERSONA             0
RANGO DE EDAD            0
SEXO                     9
LESIVIDAD*              48
dtype: int64

In [14]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()
print(df[df.isnull().any(axis=1)][null_columns].head())

   ESTADO METEREOLÓGICO    SEXO  LESIVIDAD*
6             Despejado  Hombre         NaN
12                  NaN  Hombre         NaN
15                  NaN  Hombre         NaN
19            Despejado     NaN         NaN
26            Despejado  Hombre         NaN

## Identificar Columnas Duplicadas

In [21]:
duplicates = []

In [23]:

    for columns in range(df.shape[1]):
        contents = df.iloc[:, columns]
        for comp in range(columns + 1, df.shape[1]):
            if contents.equals(df.iloc[:, comp]):
                duplicates.append(comp)
                    
duplicates = np.unique(duplicates).tolist()
duplicates

[]

In [31]:
df.dtypes

Nº  EXPEDIENTE           object
FECHA                    object
HORA                     object
CALLE                    object
NÚMERO                   object
DISTRITO                 object
TIPO ACCIDENTE           object
ESTADO METEREOLÓGICO     object
TIPO VEHÍCULO            object
TIPO PERSONA             object
RANGO DE EDAD            object
SEXO                     object
LESIVIDAD*              float64
dtype: object

## Identificar Fecha

In [41]:
for row in df:
    for i in row:
         # check if cell is date YYYY-MM-DD or YYYY-MM-DD:HH:MM:SS
        if i.count('-') == 2:
            try:
                datetime.strptime(i, '%Y-%m-%d')
            except ValueError:
                    print(i, "is not a valid date")
                    if(i.count(':')>=2):
                        try:
                            datetime.strptime(i, '%Y-%m-%d:%H:%M:%S')
                        except ValueError:
                            print(i, "is not a valid date")

In [4]:
for row in df:
    for col in row:
        if ' ' in col:
            print(row)

Nº  EXPEDIENTE
Nº  EXPEDIENTE
TIPO ACCIDENTE
ESTADO METEREOLÓGICO
TIPO VEHÍCULO
TIPO PERSONA
RANGO DE EDAD
RANGO DE EDAD